services:
  server:
    build:
      context: .
    environment:
      NODE_ENV: production
    ports:
      - 3001:3001
    volumes:
      - movie_api_storage:/storage

volumes:
  movie_api_storage:
